<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>FILE JDBC XML:</comment>
<entry key="jdbc.passwd">root</entry>
<entry key="jdbc.url">jdbc:postgresql://localhost:5432</entry>
<entry key="jdbc.driver">org.postgresql.Driver</entry>
<entry key="jdbc.user">root</entry>
<entry key="jdbc.dataBase">crud</entry>
</properties>